@import url(http://fonts.googleapis.com/css?family=Gudea);

* {
	font-family: Gudea, sans-serif;
	//border: 1px dashed red;
}

body {
	background-color: #eee;
}

#header {
	padding: 8px 12px 8px 12px;
	position: relative;
	margin-left: -100;
	align: auto;
	background-color: rgb(10, 118, 181);
	font-size: 2em;
	color: white;
	box-shadow: 5px 5px 20px #bbb;
}

#synopsis {
	margin: auto;
	width: 700px;
	font-size:1.15em;
	color: #444;
	background-color: white;
	box-shadow: 5px 5px 3px #aaa;
	margin-top: -15px;
}

#synopsis p {
	padding: 10px;
}

#modlist {
	width: 700px;
	margin: auto;
}

.mod {
	background-color: white;
	border-radius: 0px 0px 25px 25px;
	box-shadow: 5px 5px 3px #aaa;
}

.description {

}

.description h1 {
	color: white;
	font-size: 1.75em;
	background-color: rgb(28, 146, 212);
	padding: 2px 4px 2px 4px;
	box-shadow: 0px 3px 5px #bbb;
}

.description p {
	color: #444;
	font-size: 1.05em;
	padding: 0px 10px 0px 10px;
}

a {
	color: rgb(28, 146, 212);
}

a:link {
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	font-weight: normal;
	text-decoration: none;
}

.boxes {
	width: 350px;
	height: 60px;
	margin: 0px 175px 0px 175px;
	padding: 0px 0px 10px 0px;
}

.box {
	margin: 0px;
	width: 140px;
	height: 45px;
	display: inline-block;
	border-radius: 15px;
	color: white;
	padding: 5px 0px 0px 10px;
}

a .one {
	float: left;
	background: linear-gradient(#fa5, #f81);
	border: 2px solid #fb7;
}

a:hover .one {
	background: #fb3;
}

a .two {
	float: right;
	background: linear-gradient(#4e4, #0c0);
	border: 2px solid #8e8;
}

a:hover .two {
	background: #8e8;
}
